<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/admin-fragment :: head(~{::title})">
  <title>博客管理</title>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
  <link rel="shortcut icon"  th:href="@{/images/favicon.ico}" th:src="@{/images/favicon.ico}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
</head>

<body>

  <!--头部导航-->
  <nav th:replace="admin/admin-fragment :: menu(0)"></nav>


  <!--中间内容-->
  <div  class="m-container-small m-padded-tb-big">
    <div class="ui container">
      <div class="ui success large  message">
        <h3>Hi,</h3>
        <p>Izumi，欢迎登录！</p>
      </div>

      <!--登录成功图片-->
      <img th:src="@{/static/images/bg1.jpg}" alt="" class="ui rounded bordered fluid image">
    </div>
  </div>

  <br>
  <br>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <!--底部footer-->
  <footer th:replace="admin/admin-fragment :: footer">

  </footer>


  <th:block th:replace="admin/admin-fragment :: script">

  </th:block>

  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
      on : 'hover'
    });

  </script>
</body>
</html>
