<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment :: head(~{::title})">
    <title>通知管理</title>
</head>

<body>

<!--头部导航-->
<nav th:replace="admin/admin-fragment :: menu(3)">

</nav>

<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/notices/input}" class=" item">新增</a>
            <a href="#" th:href="@{/admin/notices}" class="teal active item">列表</a>
        </div>
    </div>
</div>


<!--中间内容-->
<div  class="m-container-small m-padded-tb-big">
    <div class="ui container">

        <div id="table-container">
            <table  class="ui compact celled teal table">
                <thead>
                <tr>
                    <th></th>
                    <th>通知内容</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="notices,iterStat : ${pageInfo.list}">
                    <td th:text="${iterStat.count}">1</td>
                    <td th:text="${notices.content}">摸鱼方法</td>
                    <td>
<!--                        <a href="#" th:href="@{/admin/notices/{id}/input(id=${notices.id})}" class="ui mini teal basic button">编辑</a>-->
                        <a href="#" th:href="@{/admin/notices/{id}/delete(id=${notices.id})}" class="ui mini red basic button">删除</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="7">
                        <div class="ui mini pagination menu"  >
                            <div class="item"><a th:href="@{/admin/notices}">首页</a></div>
                            <div class="item"><a th:href="@{/admin/notices(pagenum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a></div>
                            <div class="item"><a th:href="@{/admin/notices(pagenum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a></div>
                            <div class="item"><a th:href="@{/admin/notices(pagenum=${pageInfo.pages})}">尾页</a></div>
                        </div>
<!--                        <a href="#" th:href="@{/admin/notices/{id}/input(id=${notices.id})}" class="ui mini teal basic button">编辑</a>-->
                        <a href="#" th:href="@{/admin/notices/input}"  class="ui mini right floated teal basic button">新增</a>
                    </th>
                </tr>
                </tfoot>
            </table>

<!--            <div class="ui segment m-inline-block">-->
<!--                <p >当前第<span ></span>页，总<span ></span>页，共<span t></span>条记录</p>-->
<!--            </div>-->

            <div class="ui success message">
                <i class="close icon"></i>
                <div class="header">提示：</div>
                <p >恭喜，操作成功！</p>
            </div>

        </div>

    </div>
</div>

<br>
<br>
<!--底部footer-->
<footer th:replace="fragment :: footer">

</footer>

<script>

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on : 'hover'
    });

    //消息提示关闭初始化
    $('.message .close')
        .on('click', function () {
            $(this)
                .closest('.message')
                .transition('fade');
        });

</script>
</body>
</html>
